<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org">
<head></head>
<body>
	<div style="overflow: auto; height: 400px" th:fragment="accessor-list">
		<script type="text/javascript">
			function onDeleteAccessor(id) {
				let form = document.getElementById("accessors");
				// actualize form action
				form.action = form.action + id;
				form.submit();
			}
		</script>
		<form id="accessors" th:object="${acl}" method="post" th:action="@{/acls/{id}?accessorName=(id=${acl.id})}">
			<input type="hidden" id="_method" name="_method" th:value="delete"  form="accessors" />
			<table class="table table-sm table-striped">
				<thead>
					<tr>
						<!--
						<th scope="col">-ID-</th>
						-->
						<th scope="col"></th>
						<th scope="col" th:text="#{label.name}">NAME</th>
						<th scope="col" th:text="#{label.permit}">PERMIT</th>
						<th scope="col" th:text="#{label.alias}">ALIAS</th>
						<th scope="col" th:text="#{label.svc}">SVC</th>
						<th scope="col" th:text="#{label.orglevels}">ORGLEVELS</th>
						<th scope="col" th:text="#{label.xpermits}">XPERMITS</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${acl.accessors.empty}">
						<td colspan="7"><p th:text="#{list.empty}">EMPTY</p></td>
					</tr>
					<tr th:each="accessor : ${acl.accessors}">
						<!-- 
						<td th:text="${accessor.id}">ACCESSOR.ID</td>
						-->
						<td width="1%">
							<div th:switch="${accessor.state.toString()}">
								<span th:case="${T(ua.pp.jdev.permits.enums.State).NEW.toString()}">
									<i th:title="#{tooltip.statenew}" class="fa-solid fa-user-plus"></i>
								</span>
								<span th:case="${T(ua.pp.jdev.permits.enums.State).PURE.toString()}">
									<i th:title="#{tooltip.statepure}" class="fa-solid fa-user-check"></i>
								</span>
								<span th:case="${T(ua.pp.jdev.permits.enums.State).DIRTY.toString()}">
									<i th:title="#{tooltip.statedirty}" class="fa-solid fa-user-pen"></i>
								</span>
								<span th:case="${T(ua.pp.jdev.permits.enums.State).VOID.toString()}">
									<i th:title="#{tooltip.statevoid}" class="fa-solid fa-user-slash"></i>
								</span>
								<span th:case="*" th:text="${accessor.state}">ACCESSOR.STATE</span>
							</div> 
						</td>
						<td th:text="${accessor.name}">ACCESSOR.NAME</td>
						<td th:text="${dictPermits.get(#strings.toString(accessor.permit))}">ACCESSOR.PERMIT</td>
						<td><span th:switch="${accessor.alias}">
							<i th:case="true" class="fas fa-check" style="color: green" th:title="#{tooltip.yes}"></i>
							<i th:case="false" class="fas fa-times" style="color: red" th:title="#{tooltip.no}"></i></span>
						</td>
						<td><span th:switch="${accessor.svc}">
							<i th:case="true" class="fas fa-check" style="color: green" th:title="#{tooltip.yes}"></i>
							<i th:case="false" class="fas fa-times" style="color: red" th:title="#{tooltip.no}"></i></span>
						</td>
						<td th:text="${#strings.listJoin(accessor.orgLevels, ',')}">ACCESSOR.ORGLEVELS</td>
						<td><th:block th:each="xpermit,state : ${accessor.XPermits}">
								<span th:text="${xpermit}"></span><br th:if="${!state.last}">
							</th:block>
						</td>
						<td width="1%">
							<div class="d-flex">
								<span sec:authorize="hasRole('ROLE_VIEWER')">
									<a class="btn btn-outline-secondary btn-sm mr-2" type="button" th:title="#{tooltip.details}"
										th:href="@{/acls/{id}?accessorName={name}(id=${acl.id},name=${accessor.name})}">
										<nobr><i class="fas fa-eye"></i>&nbsp;<span th:text="#{button.view}"></span></nobr></a>
								</span>
								<th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')">
									<span th:if="${T(ua.pp.jdev.permits.enums.State).VOID.toString() != accessor.state.toString()}">
										<a class="btn btn-outline-secondary btn-sm mr-2" type="button" th:title="#{tooltip.edit}"
											th:href="@{/acls/{id}/edit?accessorName={name}(id=${acl.id},name=${accessor.name})}">
											<nobr><i class="fas fa-edit"></i>&nbsp;<span th:text="#{button.edit}"></span></nobr></a>
									</span>
									<span th:if="${accessor.name != 'dm_owner' and accessor.name != 'dm_world'}">
										<a class="btn btn-outline-secondary btn-sm mr-2" type="button"
											th:onclick="@{onDeleteAccessor('{name}')(name=${accessor.name})}">
											<nobr th:switch="${T(ua.pp.jdev.permits.enums.State).VOID.toString() != accessor.state.toString()}">
												<span th:case="true" th:inline="text"><i th:title="#{tooltip.void}"
													class="fa-solid fa-ban"></i>&nbsp;[[#{button.void}]]</span>
												<span th:case="false" th:inline="text"><i th:title="#{tooltip.restore}"
													class="fa-solid fa-rotate-left"></i>&nbsp;[[#{button.restore}]]</span>
											</nobr></a>
									</span>
								</th:block>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</body>
</html>
