<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head></head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
		<a class="navbar-brand" href="#" th:href="@{/home}" th:text="#{title.navbar}"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link" href="#"
					th:href="@{/home}" th:text="#{link.home}">HOME</a></li>
				<li class="nav-item"><a class="nav-link" href="#"
					th:href="@{/acls}" th:text="#{link.acls}">ACLS</a></li>
				<th:block sec:authorize="hasRole('ROLE_ADMIN')">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
						aria-expanded="false" th:text="#{link.admin}">ADMIN</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/users" th:text="#{link.users}">USERS</a>
							<a class="dropdown-item" href="#" th:text="#{link.dictionaries}">DICTIONARIES</a>
						</div></li>
				</th:block>
			</ul>
		</div>
		<div class="form-inline">
			<div class="dropdown">
				<button class="btn btn-sm btn-outline-secondary mr-2 dropdown-toggle" type="button"
					data-toggle="dropdown" aria-expanded="false" th:switch="${#locale.language}">
					<img th:case="en" src="/us.png"/>
					<img th:case="uk" src="/uk.png"/>
					</button>
				<div class="dropdown-menu">
					<th:block th:switch="${#locale.language == 'en'}">
						<a th:case="true" class="dropdown-item active" href="/home?lang=en"><img src="/us.png"/>&nbsp;[[#{lang.en}]]</a>
						<a th:case="false" class="dropdown-item" href="/home?lang=en"><img src="/us.png"/>&nbsp;[[#{lang.en}]]</a>
					</th:block>
					<th:block th:switch="${#locale.language == 'uk'}">
						<a th:case="true" class="dropdown-item active" href="/home?lang=uk"><img src="/uk.png"/>&nbsp;[[#{lang.uk}]]</a>
						<a th:case="false" class="dropdown-item" href="/home?lang=uk"><img src="/uk.png"/>&nbsp;[[#{lang.uk}]]</a>
					</th:block>
				</div>
			</div>
			<span th:if="${#authorization.expression('!isAuthenticated()')}">
				<button type="button" class="btn btn-secondary ml-2"
					onClick="location.href='/login'" th:text="#{button.login}">LOGIN</button>
			</span>
			<span th:if="${#authorization.expression('isAuthenticated()')}">
				<span style="color: grey" th:inline="text"><i class="fa-solid fa-circle-user"></i>&nbsp;[[${#authentication.name}]]</span>
				<button type="button" class="btn btn-outline-secondary ml-2"
					onClick="location.href='/logout'" th:text="#{button.logout}">LOGOUT</button>
			</span>
		</div>
	</nav>
</body>
</html>