<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<script type="text/javascript">
    function onClickCheckBox(checkbox) {
        checkbox.value = checkbox.checked;
        document.getElementById("refresh").value = true;
        checkbox.form.submit();
    }

    function onDelete() {
        // change current HTTP method on DELETE and submit form
        document.getElementById("_method").value = "delete";
        document.getElementById("editAccessor").submit();
    }
</script>
<body>
<div th:replace="/fragments/navbar :: navbar">&nbsp;</div>
<div class="container mt-3">
    <form id="editAccessor" method="post" th:object="${accessor}"
          th:action="@{/acls/{id}?accessorName={name}(id=${acl.id},name=${accessor.name})}">
        <input type="hidden" id="refresh" name="refresh" value="false"/> <input
            type="hidden" id="_method" name="_method" value="patch"/> <input
            type="hidden" id="state" name="state" th:value="${accessor.state}"/>
        <input type="hidden" id="id" name="id" th:value="${accessor.id}"/>
        <div class="card w-75">
            <h5 class="card-header" style="color: grey">
                <i class="fa-solid fa-user-shield"></i>&nbsp;<span
                    th:switch="${T(ua.pp.jdev.permits.enums.State).NEW.toString() == accessor.state.toString()}">
						<span th:case="true" th:text="#{title.newaccessor}"></span>
						<span th:case="false" th:text="@{#{title.editaccessor} + ' : ' + ${accessor.name}}"></span>
					</span>
            </h5>
            <div class="card-body">
                <!--
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label font-weight">-ID-</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext"
                            id="id" th:value="${accessor.id}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="id" class="col-sm-2 col-form-label font-weight">-STATE-</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext"
                            id="state" th:value="${accessor.state}">
                    </div>
                </div>
                -->
                <div class="form-group row" th:switch="${accessor.name != 'dm_owner' and accessor.name != 'dm_world'}">
                	<th:block th:case="true">
                    	<label for="name" class="col-sm-2 col-form-label font-weight"
							th:inline="text"><b style="color:red;">*</b>[[#{label.name}]]</label>
						<div class="col-sm-4">
							<select th:class="selectpicker" th:errorclass="'selectpicker is-invalid'"
								th:id="name" th:name="name" th:title="#{placeholder.accessor}">
								<option value=""></option>
								<option th:each="dictEntry : ${dictAccessorNames}"
									th:value="${dictEntry.key}" th:text="${dictEntry.value}"
									th:selected="${#maps.containsKey(dictAccessorNames, #strings.toString(accessor.name))}"></option>
							</select>
							<span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
						</div>
					</th:block>
					<th:block th:case="false">
						<label for="name" class="col-sm-2 col-form-label font-weight" th:text="#{label.name}">NAME</label>
						<div class="col-sm-4">
							<input type="text" readonly class="form-control-plaintext"
							th:value="${accessor.name}" th:field="*{name}">
						</div>
					</th:block>
				</div>
                <div class="form-group row">
                    <label for="permit" class="col-sm-2 col-form-label font-weight"
						th:inline="text"><b style="color:red;">*</b>[[#{label.permit}]]</label>
                    <div class="col-sm-2" th:switch="${dictPermits.empty}">
                    	<span th:case="true" th:text="#{label.notavailable}"></span>
                    	<th:block th:case="false">
							<select th:class="selectpicker" th:errorclass="'selectpicker is-invalid'" th:id="permit"
                            	th:name="permit" th:title="#{placeholder.permit}">
                            	<option value=""></option>
                            	<option th:each="dictEntry : ${dictPermits}"
                                	th:value="${dictEntry.key}" th:text="${dictEntry.value}"
                                	th:selected="${#maps.containsKey(dictPermits, #strings.toString(accessor.permit))}"></option>
                        	</select>
                        	<span th:class="invalid-feedback" th:if="${#fields.hasErrors('permit')}" th:errors="*{permit}"></span>
                        </th:block>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="XPermits" class="col-sm-2 col-form-label font-weight"
                           th:text="#{label.xpermits}">XPERMITS</label>
                    <div class="col-sm-4" th:switch="${dictXPermits.empty}">
						<span th:case="true" th:text="#{label.notavailable}"></span>
						<th:block th:case="false">
							<select class="selectpicker" id="XPermits" name="XPermits"
								th:title="#{placeholder.xpermits}" multiple>
								<option th:each="dictEntry : ${dictXPermits}"
									th:value="${dictEntry.key}" th:text="${dictEntry.value}"
									th:selected="${#lists.contains(accessor.XPermits,dictEntry.key)}"></option>
							</select>
						</th:block>
                    </div>
                </div>
                <th:block th:if="${accessor.name != 'dm_owner' and accessor.name != 'dm_world'}">
                <div class="form-group row">
                    <label for="alias" class="col-sm-2 col-form-label font-weight"
                           th:text="#{label.alias}">ALIAS</label>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="alias"
                                   name="alias" th:value="${accessor.alias}"
                                   th:checked="${accessor.alias}" onclick="onClickCheckBox(this)"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row" th:if="${accessor.alias}">
                    <label for="svc" class="col-sm-2 col-form-label font-weight"
                           th:text="#{label.svc}">SVC</label>
                    <div class="col-sm-4">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" id="svc"
                                   name="svc" th:value="${accessor.svc}"
                                   th:checked="${accessor.svc}" onclick="onClickCheckBox(this)"/>
                        </div>
                    </div>
                </div>
                <div class="form-group row" th:if="${accessor.svc}">
                    <label for="orgLevels" class="col-sm-2 col-form-label font-weight"
                           th:text="#{label.orglevels}">ORGLEVELS</label>
                    <div class="col-sm-4" th:switch="${dictOrgLevels.empty}">
						<span th:case="true" th:text="#{label.notavailable}"></span>
						<select th:case="false" class="selectpicker" id="orgLevels" name="orgLevels"
							th:title="#{placeholder.orglevels}" multiple>
							<option th:each="dictEntry : ${dictOrgLevels}"
                                th:value="${dictEntry.key}"
                                th:text="${dictEntry.value.display}"
                                th:selected="${#lists.contains(accessor.orgLevels,dictEntry.key)}"></option>
                    	</select>
                    </div>
                </div>
                </th:block>
            </div>
        </div>
        <div class="d-flex">
            <div class="p-2">
                <input class="btn btn-secondary" type="submit"
                       th:title="#{button.apply}" th:value="#{button.apply}"/>
            </div>
            <div class="p-2">
                <a class="btn btn-secondary" type="button"
                   th:title="#{button.cancel}"
                   th:href="@{/acls/{id}/edit(id=${acl.id})}"
                   th:text="#{button.cancel}">CANCEL</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
