<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/head :: head">
</head>
<body>
	<div th:replace="/fragments/navbar :: navbar">&nbsp;</div>
	<div class="container mt-3">
		<div class="card">
			<h5 class="card-header" style="color: grey">
				<i class="fa-solid fa-shield-halved"></i>&nbsp;<span
					th:switch="${T(ua.pp.jdev.permits.enums.State).NEW.toString() == acl.state.toString()}">
					<span th:case="true" th:text="#{title.newacl}"></span>
					<span th:case="false" th:text="@{#{title.editacl} + ' : ' + ${acl.name}}"></span>
				</span>
			</h5>
			<div class="card-body">
				<ul class="nav nav-tabs" id="aclTab" role="tablist" th:switch="${tab == 'tabAccessors'}">
					<th:block th:case="true">
						<li class="nav-item"><a class="nav-link" id="info-tab"
							data-toggle="tab" href="#tabInfo" role="tab" aria-controls="tabInfo"
							aria-selected="false" th:text="#{tab.info}">INFO</a></li>
						<li class="nav-item"><a class="nav-link active"
							id="accessors-tab" data-toggle="tab" href="#tabAccessors"
							role="tab" aria-controls="tabAccessors" aria-selected="true"
							th:text="#{tab.accessors}">ACCESSORS</a></li>
					</th:block>
					<th:block th:case="false">
						<li class="nav-item"><a class="nav-link active" id="info-tab"
							data-toggle="tab" href="#tabInfo" role="tab" aria-controls="tabInfo"
							aria-selected="true" th:text="#{tab.info}">INFO</a></li>
						<li class="nav-item"><a class="nav-link"
							id="accessors-tab" data-toggle="tab" href="#tabAccessors"
							role="tab" aria-controls="tabAccessors" aria-selected="false"
							th:text="#{tab.accessors}">ACCESSORS</a></li>
					</th:block>
				</ul>
				<div class="tab-content" id="aclTabContent">
					<div
						th:class="${tab != 'tabAccessors' ? 'tab-pane fade show active' : 'tab-pane fade'}"
						id="tabInfo" role="tabpanel" aria-labelledby="info-tab">
						<form id="editACL" method="post" th:action="@{/acls}"
							th:object="${acl}">
							<input type="hidden" id="_method" name="_method" form="editACL"
								th:value="${httpMethod!=null and #strings.length(httpMethod)>0? httpMethod : 'patch'}" />
							<input type="hidden" id="addAccessor" name="addAccessor"
								form="editACL" value="false">
							<div class="form-group row"></div>
							<!--
							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label font-weight">ID</label>
								<div class="col-sm-4">
									<input type="text" readonly class="form-control-plaintext"
										id="id" th:value="${acl.id}">
								</div>
							</div>
							<div class="form-group row">
								<label for="id" class="col-sm-2 col-form-label font-weight">-STATE-</label>
								<div class="col-sm-4">
									<input type="text" readonly class="form-control-plaintext"
										id="state" th:value="${acl.state}">
								</div>
							</div> -->
							<div class="form-group row">
								<label for="name" class="col-sm-2 col-form-label font-weight"
									th:inline="text"><b style="color: red;">*</b>[[#{label.name}]]</label>
								<div class="col-sm-4">
									<input type="text" th:placeholder="#{placeholder.name}"
										th:field="*{name}" th:class="${'form-control'}"
										th:errorclass="${'form-control is-invalid'}" /> <span
										class="invalid-feedback" th:if="${#fields.hasErrors('name')}"
										th:errors="*{name}"></span>
								</div>
							</div>
							<div class="form-group row">
								<label for="description"
									class="col-sm-2 col-form-label font-weight"
									th:text="#{label.description}">DESCRIPTION</label>
								<div class="col-sm-4">
									<input type="text" th:placeholder="#{placeholder.description}"
										th:class="${'form-control'}"
										th:errorclass="${'form-control is-invalid'}"
										th:field="*{description}" /><span class="invalid-feedback"
										th:if="${#fields.hasErrors('description')}"
										th:errors="*{description}"></span>
								</div>
							</div>
							<div class="form-group row">
								<label for="objTypes"
									class="col-sm-2 col-form-label font-weight"
									th:text="#{label.objtypes}">OBJTYPES</label>
								<div class="col-sm-4">
									<th:block th:switch="${dictObjTypes.empty}">
										<input th:case="true" type="text" readonly
											class="form-control-plaintext"
											th:value="#{label.notavailable}">
										<select th:case="false" class="selectpicker" id="objTypes"
											name="objTypes" multiple>
											<option th:each="dictEntry : ${dictObjTypes}"
												th:value="${dictEntry.key}" th:text="${dictEntry.value}"
												th:selected="${#lists.contains(acl.objTypes,dictEntry.key)}"></option>
										</select>
									</th:block>
								</div>
							</div>
							<div class="form-group row">
								<label for="statuses"
									class="col-sm-2 col-form-label font-weight"
									th:text="#{label.statuses}">STATUSES</label>
								<div class="col-sm-4">
									<th:block th:switch="${dictStatuses.empty}">
										<input th:case="true" type="text" readonly
											class="form-control-plaintext"
											th:value="#{label.notavailable}">
										<select th:case="false" class="selectpicker" id="statuses"
											name="statuses" multiple>
											<option th:each="dictEntry : ${dictStatuses}"
												th:value="${dictEntry.key}" th:text="${dictEntry.value}"
												th:selected="${#lists.contains(acl.statuses,dictEntry.key)}"></option>
										</select>
									</th:block>
								</div>
							</div>
						</form>
					</div>
					<div
						th:class="${tab == 'tabAccessors' ? 'tab-pane fade show active' : 'tab-pane fade'}"
						id="tabAccessors" role="tabpanel" aria-labelledby="accessors-tab">
						<div th:replace="/fragments/accessors :: accessor-list">&nbsp;</div>
						<div class="form-group row">
							<div class="col-sm-10">
								<script type="text/javascript">
									function onAddAccessor() {
										document.getElementById("addAccessor").value = true;
										document.getElementById("_method").value = "post";
										document.getElementById("editACL").submit();
									}
								</script>
								<button class="btn btn-secondary btn-sm" type="button"
									th:title="#{tooltip.newaccessor}" th:onclick="onAddAccessor()">
									<nobr>
										<i class="fas fa-plus"></i>&nbsp;<span th:text="#{button.add}"></span>
									</nobr>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d-flex">
			<div class="p-2">
				<input class="btn btn-secondary" type="submit" form="editACL"
					th:title="#{button.apply}" th:value="#{button.apply}" />
			</div>
			<div class="p-2">
				<input class="btn btn-secondary" type="button"
					th:title="#{button.cancel}" th:value="#{button.cancel}"
					onClick="location.href='/acls'" />
			</div>
		</div>
	</div>
</body>
</html>
